extends ./layout.jade

block title
    title justext | login

block content
    form
      h2 Email
      input(type='text', name='email', required)
      h2 Password
      input(type='password', name='password', required)
      input(type='hidden', name='_csrf', value='#{csrfToken}')
      input(type='submit', class='button')
